{% extends "base.html" %}
{% block title %} {% endblock title %}

{% block content %}
	<div class="rm-mrg">
    <h2>{{ group }}</h2>
    <small>{{ group.description }}</small><br>
    <div class="participants">
        <span>Participants -> </span>
        <span>{{ group.participants.count }}</span>
    </div>
    <br>
    <hr>
    <div class="chat-messages">
    {% for message in messages %}
        {% if message.sender == request.user %}
        <div class="sender">
            <p>
                {{ message }}
            </p>
            <small class="date-sent">{{ message.time_created|date:"M j, y g:i a" }}</small>
        </div>
       {% else %}
        <div class="receiver">
            <h4 class="username">@{{ message.sender }}</h4>
            <p>
                {{ message }}
            </p>
            <small class="date-sent">{{ message.time_created }}</small>
        </div>
        {% endif %}
        {% empty %}
        	<br>
        	<h3 align="center">Start a conversation!</h3>
        	<br>
    {% endfor %}
    </div>
    <form action="" id="chat-form" method="post">
    {% csrf_token %}
        <input type="text" name="message" placeholder="Type Message...">
        <button>Send</button>
    </form>
    </div>

{% endblock content %}